fastapi
uvicorn
sqlalchemy
psycopg2-binary
httpx
requests
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
pydantic
fastapi-mail
python-dotenv
jinja2
pgvector
geoalchemy2
redis
rapidfuzz
numpy
